@import "./globals.css";
@import "./landing.css";

body {
  background: #ffffff;
}
.section-3 {
  background: linear-gradient(to bottom, #ffffff, white, #fafafa);
}
.nav-item {
  margin: 0 0.25em;
}
.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.logo_text {
  text-transform: capitalize;
  font-size: 16px;
  /* letter-spacing: 0.3px; */
  margin-left: 5px;
  font-family: "Cinzel Decorative";
  font-weight: 500;
  color: black;
}

.welcome {
  font-size: 4rem;
  /* text-align: center; */
  color: #414141;
  margin: 10rem 0 0;
  text-transform: uppercase;
  @media screen and (max-width: 600px) {
    & {
      font-size: 2rem;
      margin-top: 4rem;
    }
  }
  /* background: url("./assets/logo.png"), url("./assets/logo.png"); */
  /* background-size: 10% auto; */
  /* background-position:
    100% center,
    0% center;
  background-repeat: no-repeat; */
}

.boulder-text {
  font-size: large;
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-section-article {
  margin: 10rem 0;
}

.my-section-article:nth-child(even) {
  flex-direction: row-reverse;
}

.welcome > img {
  opacity: 0.25;
  margin: 3rem 0;
  /* filter: invert(23%) sepia(51%) saturate(3938%) hue-rotate(235deg) */
  /* brightness(113%) contrast(104%); */
  max-width: 100%;
}
/* Main */
main {
  position: relative;
  width: 100%;
  padding-top: 0.1px;
}
.curved {
  border-radius: 4rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.my-section {
  margin-top: 5rem;
}

.z-10 {
  z-index: 10;
}

.duplicated {
  position: absolute;
  display: block;
  z-index: -1;
  filter: blur(10px);
  padding: inherit;
  opacity: 0.8;
  left: 3px;
  top: 3px;
}

.logo {
  padding: 1rem 0;
  transition: padding 0.3s;
}
.is-scrolled .logo {
  padding: 0.1rem 0;
}

.is-scrolled > header {
  border-bottom: 1px solid #e6e6e6;
}

.about-us {
  background-color: #414141;
}

small {
  opacity: 0.9;
}

.services-image {
  height: 50vh;
  max-height: 50vw;
  min-height: 35vw;
  background-size: cover;
  background-attachment: fixed;
  background-color: lavender;
  background-image: url("../assets/senior-man-volunteer-nurse-support-caregiver-help-with-elderly-medical-nursing-home-smile-happy-trust-community-employee-working-healthcare-charity-house.png");
}
