@import "./css/globals.css";
header {
  background: linear-gradient(to right, white, #fafafa);
}
.nav-item {
  margin: 0 0.25em;
}
.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}
.logo_text {
  text-transform: capitalize;
  font-size: 16px;
  /* letter-spacing: 0.3px; */
  margin-left: 5px;
  font-family: "Cinzel Decorative";
  font-weight: 500;
  color: black;
}

/* Main */
main {
  position: relative;
  width: 100%;
  padding-top: 0.1px;
}
.landing-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: calc(40vmax + 4rem);
  width: 100%;
  display: block;
  top: 0;
  background: url("./assets/aged-woman-sitting-park-grandma-white-hat.jpg");
  background-color: antiquewhite;
  background-size: cover;
  background-position: 50% 25%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.landing-root {
  margin: auto;
  margin-top: 10vh;
  margin-top: max(calc(calc(100vh - 461px) / 2), 1em);
  max-width: 960px;
  min-height: calc(40vmax - 30vh);
}
.landing {
  z-index: 1;
}
.landing-content {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  background-color: rgba(30, 20, 0, 0.5);
  padding: 3em 4em;
  max-width: 600px;
  width: 100%;
  margin: auto;
}
.landing_text {
  font-size: 3em;
  text-shadow: 1px 1px 1px rgba(30, 20, 0, 0.3);
}
.curved {
  border-radius: 4rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.my-section {
  margin-top: 10rem;
}

.z-10 {
  z-index: 10;
}
